.board {
    border: 2px solid black;
    margin: 4px;
    display: inline-block;
}

.cell {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    font-size: 20px;
    display: inline-block;
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: #555;
    color: white;
}